/* COLOR PALETTE */
:root {
  --primary: rgb(201, 120, 15);
  --secondary: rgb(50, 90, 150);
  --tertiary: rgb(235, 225, 225);
  --fourth: rgba(190, 160, 160, 0.75);
}

/* UNIVERSAL CONSTANTS */
* {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;

  /* visual aid below (delete later) */
  /* border: 1px solid red; */
}

/* A STYLES */
a {
  text-decoration: none;
  color: var(--tertiary);
  padding: 5px 15px;
  transition-duration: 1s;

}

a:hover {
  color: var(--secondary);
  border-right: 1px solid var(--tertiary);
  border-left: 1px solid var(--tertiary);
}

/* BODY STYLES */
body {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  background-color: var(--secondary);
  align-items: center;
}

/* HEADER STYLES */
header, main {
  justify-content: space-around;
  padding: 10px 25px;
  background-color: var(--primary);
  color: var(--tertiary);
  border-radius: 15px;
  width: 90vw;
  text-align: center;
  font-size: 1vw;
}

header h2 {
  padding-bottom: 10px;
  font-size: 2vw;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
}

header nav ul li {
  width: 25vw;
}

/* MAIN | HomePage Home.js */
main {
  margin: 10px 0;
}

/* MAIN | landingPage index.js */
.primary-text {
  font-size: 4vh;
}

.primary-text h1 {
  font-size: 3.5vh;
}

.highligted-text {
  /* font-weight: bolder; */
  transition-duration: 2s;
}

.highligted-text:hover {
  font-size: 4.5vh;
  color: var(--secondary);
  text-shadow: 2px 2px 15px var(--tertiary);
}

/* MAIN | OurServices index.js */
h2 {
  font-size: 3vh;;
}

.card-container {
  display: flex;
  justify-content: space-around;
  font-size: 1vw;
  text-align: center;
}

.card {
  width: 20%;
  margin: 10px;
  border-radius: 15px;
  opacity: .75;
  transition: 1s;
}

.card:hover {
  opacity: 1;
  box-shadow: 5px 5px 20px var(--tertiary);
}

.card-title {
  font-size: 125%;
}

/* MAIN Clogin.js STYLES */
.card-header {
  font-size: 1.75vw;
}

/* INPUT STYLES */
.form-input {
  border-radius: 15px;
  padding: 15px;
  border: none;
  color: var(--primary);
  margin: 0 5px;
  transition-duration: 1s;
}

.form-input:focus {
  color: var(--tertiary);
  border: none;
  font-variant: normal;
  box-shadow: 2px 2px 15px var(--tertiary);
  background-color: var(--fourth);
  outline: none;
}

.form-input:focus::placeholder {
  color: var(--tertiary);
  font-variant: small-caps;
}

.btn {
  color: var(--secondary);
  border-radius: 15px;
  background-color: var(--fourth);
  padding: 15px;
  border: none;
  box-shadow: 2px 2px 15px var(--secondary);
  font-weight: bold;
  transition-duration: 1s;
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  box-shadow: 2px 2px 15px var(--tertiary);
}