/* OLD CODE CSS:2-14. DELETE LATER */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* COLOR PALETTE */
:root {
  --primary: rgb(201, 120, 15);
  --secondary: rgb(50, 90, 151);
  --tertiary: rgb(235, 225, 225);
  --fourth: rgba(190, 160, 160, 0.75);
}

/* UNIVERSAL CONSTANTS */
* {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;

  /* visual aid. delete later */
  /* border: 1px solid red; */
}

/* A STYLES */
a {
  text-decoration: none;
  color: var(--tertiary);
  padding: 5px 15px;
  transition-duration: 1s;

}

a:hover {
  color: var(--secondary);
  border-right: 1px solid var(--tertiary);
  border-left: 1px solid var(--tertiary);
}

/* BODY STYLES */
body {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  background-color: var(--secondary);
  align-items: center;
}
